In [9]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
#ANS:
import pandas as pd
dataset = {
    'numbers' : [4,8,15,16,23,42]
}

df = pd.Series(dataset)

In [10]:
df

numbers    [4, 8, 15, 16, 23, 42]
dtype: object

In [11]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
#variable print it.
#ANS:
import pandas as pd
variable_list = ["Mir" , "Kashif" , "ali" , "Cashew" , "GHRCE" ,"Hyderabad" , "Nagpur" , "Mumbai" , "CSE" , "IEEE"]

df1 = pd.Series(variable_list)

In [12]:
df1

0          Mir
1       Kashif
2          ali
3       Cashew
4        GHRCE
5    Hyderabad
6       Nagpur
7       Mumbai
8          CSE
9         IEEE
dtype: object

In [16]:
#Q3. Create a Pandas DataFrame that contains the following data:
#ANS:
import pandas as pd
Data_Frame = {
    "Name":["Alice","Bob","Claire"],
    'Age':[25 , 30, 27],
    "Gender":["Female" ,"Male", "Female"]
}
df3 = pd.DataFrame(Data_Frame)

In [17]:
df3

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [19]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
#ANS:
#In pandas, a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure. It is one of the most commonly used data structures in pandas and is similar to a spreadsheet or SQL table. DataFrames are used to store and manipulate data in a structured way, making them a powerful tool for data analysis and manipulation.

#Here are some key characteristics of a DataFrame:

#1. Two-Dimensional: A DataFrame is organized as a two-dimensional table with rows and columns. Rows represent individual observations or records, while columns represent different variables or attributes.

#2. Size-Mutable: You can add or remove rows and columns from a DataFrame after it's created. This makes it flexible for data manipulation.

#3. Heterogeneous Data: DataFrames can store data of different types (e.g., integers, floats, strings) in different columns, making them suitable for handling real-world datasets with mixed data types.

#On the other hand, a pandas Series is a one-dimensional array-like object that can hold data of any type. A Series is essentially a single column from a DataFrame. Each element in a Series has an associated label called an index. Series can be thought of as a special case of a DataFrame where you have only one column.

#Let's illustrate the difference between a DataFrame and a Series with an example:

#```python
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)

# df is now a DataFrame with three columns: 'Name', 'Age', and 'City'
print(df)

# Creating a Series from the 'Age' column of the DataFrame
age_series = df['Age']

# age_series is a Series containing the ages of individuals
print(age_series)

# Accessing a specific element in the DataFrame
print(df.loc[0, 'Name'])  # Accessing the name of the first person

# Accessing a specific element in the Series
print(age_series[1])  # Accessing the age of the second person
#```

#In this example, `df` is a DataFrame containing information about individuals, including their names, ages, and cities. `age_series` is a Series created from the 'Age' column of the DataFrame. While both DataFrame and Series can store and manipulate data, the key difference is in their dimensionality and how they are accessed. DataFrames are two-dimensional, and you can access data by both row and column labels, while Series are one-dimensional and have a single column of data with associated index labels.

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
0    25
1    30
2    35
Name: Age, dtype: int64
Alice
30

In [24]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
#you give an example of when you might use one of these functions?
#ANS:
#Pandas provides a wide range of functions for manipulating data in a DataFrame. Here are some common functions and methods that are frequently used:

#1. **Selection and Filtering**:
#   - `loc[]` and `iloc[]`: Used to select specific rows and columns by labels or integer location.
#   - `query()`: Allows you to filter DataFrame rows using a query expression.

#   Example:
#   ```python
#   # Select rows with Age greater than 30
#   df_filtered = df[df['Age'] > 30]
#   ```

#2. **Sorting**:
#   - `sort_values()`: Sorts the DataFrame by one or more columns.

 #  Example:
 #  ```python
 #  # Sort DataFrame by 'Age' column in descending order
#   df_sorted = df.sort_values(by='Age', ascending=False)
 #  ```

#3. **Aggregation**:
 #  - `groupby()`: Groups data based on one or more columns and allows you to perform aggregate operations (e.g., sum, mean, count) on groups.

#   Example:
 #  ```python
 #  # Group data by 'City' and calculate the average age in each city
 #  city_avg_age = df.groupby('City')['Age'].mean()
#   ```

#4. **Joining and Merging**:
#   - `merge()`: Combines two or more DataFrames based on a common column or index.

 #  Example:
 #  ```python
 #  # Merge two DataFrames based on a common 'ID' column
 #  merged_df = pd.merge(df1, df2, on='ID')
 #  ```

#5. **Data Cleaning**:
#   - `drop()`: Removes specified rows or columns from the DataFrame.
#   - `fillna()`: Fills missing values with a specified value or using various filling strategies.
   
#   Example:
 #  ```python
#   # Drop rows with missing values in the 'Age' column
#   df_cleaned = df.dropna(subset=['Age'])
 #  ```

#6. **Adding and Modifying Columns**:
#   - Assigning values to a new or existing column.

 #  Example:
#   ```python
#   # Adding a new column 'BirthYear' based on the 'Age' column
 #  df['BirthYear'] = 2023 - df['Age']
 #  ```

#7. **Pivot Tables**:
 #  - `pivot_table()`: Creates a pivot table from the data, allowing you to summarize and reshape it.

#   Example:
#   ```python
 #  # Create a pivot table to summarize data by 'City' and 'Gender'
 #  pivot_table = df.pivot_table(index='City', columns='Gender', values='Age', aggfunc='mean')
  # ```

#8. **Handling DateTime Data**:
#   - `to_datetime()`: Converts a column to datetime format.
#   - `dt` accessor: Allows you to extract components like year, month, day from datetime columns.

 #  Example:
 #  ```python
 #  # Convert a column 'DateOfBirth' to datetime format
 #  df['DateOfBirth'] = pd.to_datetime(df['DateOfBirth'])
  # # Extract the year from the 'DateOfBirth' column
  # df['YearOfBirth'] = df['DateOfBirth'].dt.year
  # ```

#These are just a few of the many functions available in pandas for data manipulation. The choice of function depends on the specific data manipulation tasks you need to perform on your DataFrame.

In [25]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
#ANS:
#As of my last knowledge update in September 2021, both Series and DataFrame are mutable in nature in pandas. You can modify their contents after they are created.

#- **Series**: You can change the values of individual elements in a Series, add new elements, or remove elements. For example, you can update a specific value in a Series using indexing and assignment.
#
#  ```python
#  import pandas as pd

  # Creating a Series
#  s = pd.Series([1, 2, 3, 4, 5])

  # Modifying a value in the Series
 # s[2] = 10

  # Adding a new element to the Series
#  s[5] = 6

  # Removing an element from the Series
 # s = s.drop(4)
#  ```

#- **DataFrame**: DataFrames are also mutable. You can modify existing rows, columns, or add new rows and columns to a DataFrame. For instance, you can change the values in a DataFrame cell, add a new column, or append rows to an existing DataFrame.

#  ```python
 # import pandas as pd

  # Creating a DataFrame
#  data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
#  df = pd.DataFrame(data)

  # Modifying a cell value
 # df.at[0, 'A'] = 10

  # Adding a new column
#  df['C'] = [7, 8, 9]

  # Appending a new row
#  new_row = {'A': 4, 'B': 10, 'C': 11}
#  df = df.append(new_row, ignore_index=True)
#  ```

#As for the Panel object, it was deprecated and removed in recent versions of pandas (as of my last knowledge update). Therefore, Panels are no longer available in pandas, and you should use DataFrames for similar multi-dimensional data structures. Please check the latest pandas documentation for any updates or changes beyond my last knowledge update.

In [26]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.
#ANS:
#You can create a DataFrame using multiple Series in pandas by combining these Series into a dictionary and then using the `pd.DataFrame()` constructor. Each Series will become a column in the resulting DataFrame, and they should have the same length to align properly. Here's an example:

#```python
import pandas as pd

# Creating multiple Series
name_series = pd.Series(['Alice', 'Bob', 'Charlie'])
age_series = pd.Series([25, 30, 35])
city_series = pd.Series(['New York', 'San Francisco', 'Los Angeles'])

# Combining the Series into a dictionary
data = {'Name': name_series, 'Age': age_series, 'City': city_series}

# Creating a DataFrame from the dictionary
df = pd.DataFrame(data)

# Displaying the resulting DataFrame
print(df)
#```

#In this example, we first create three Series (`name_series`, `age_series`, and `city_series`) with information about individuals' names, ages, and cities. Then, we combine these Series into a dictionary called `data`, where each Series becomes a column in the DataFrame. Finally, we use the `pd.DataFrame(data)` constructor to create the DataFrame `df`. The resulting DataFrame will look like this:

#```
#      Name  Age           City
#0    Alice   25       New York
#1      Bob   30  San Francisco
###2  Charlie   35    Los Angeles
#```

#Now, you have a DataFrame with columns 'Name,' 'Age,' and 'City,' where each column corresponds to one of the Series you initially created.

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles